#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@  
	git config --global --add safe.directory $(PWD)
#	/var/cache/elbe/07d52500-b865-4072-98e9-444e44e838a9/pdebuilder/current
#	git config --global --add safe.directory /home/sta/lpb-hid
override_dh_auto_configure:
	cmake -Bbuild
override_dh_auto_build:
	cmake --build build
